---
title: ingi hong dot com! 
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/landing.css"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/public/coloredAvatarCircleCutout.png"/>
    <script type="module" src="/javascript/scripts.js"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="landing-page-container">
      <div id="follow" class="follow">
        <div id="dot" class="dot"></div>
      </div>
      <div class="bio-container column">
        <div class="bio">
          {{ content | safe }}
        </div>
      </div>
      <div class="avatar-container column">
        <img class="red-avatar" src="/public/coloredAvatarCircleCutout.png"/>
        <img id="blue" class="blue-avatar" src="/public/blue.png"/>
      </div>
      <div class="nav-container column">
        <div class="nav-content">
          <ul>
            <li><a id="workBtn"><div id="work" class="item-one">My Work</div></a></li>
            <li><a id="linkedin"><div id="linkedin" class="item-three">Linkedin</div></a></li>
            <li><a id="github"><div id="github" class="item-four">Github</div></a></li>

          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="/javascript/functions.js"></script>